#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
#banner{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
th, td {
    white-space: normal;
}